body {
  color:#080f0f;
}

a, a:hover {
  color: #080f0f;
}

.navbar {
  box-shadow:0px 1px 2px #1d1f1f4f;
}

.navbar-item img {
  max-height: 3rem;
}
    
@media (max-width: 768px) {
  .center-flex-text-var {
    text-align:center;
    place-content:center;
  }
}

.background-color-navbar-var {
 background-color: #a4bab7;
}

.text-color-navbar-var {
  text-shadow:1px 1px #080f0f;
}

.modal-card-head {
  font-family: Arial, Helvetica, sans-serif;
  color: #f15025;
  font-size: 18px;
}

#map{
  z-index: 10;
}

#modalArea{
  z-index: 10000;
}

.modal-card-head {
  font-family: Arial, Helvetica, sans-serif;
  color: #f15025;
  font-size: 18px;
}

.modal-card-body {
  background-color:#e6e8e6;
  background-image:url('assets/images/northern-forest.jpg'); 
  background-size: cover; 
  color: #fff; 
  background-repeat: no-repeat;
  background-color: #f15025;
}

.subtitle {
  text-align:center;
}

.wallpaper {
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background:url("../images/go-explore-forestr-image-copyright-by-Marvin-Laput-Tenepre.jpg") center center;
  background-position:center;
  background-size: cover;
  opacity: 0.4;
  position: fixed;
}
